@import "tailwindcss";

:root {
  --background: #f3f2ef;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Text Colors */
  --color-text-primary: #424242;

  /* Saju Graph Colors */
  --color-saju-background: #f5f3ec;
  --color-saju-border: #1b2f49;
  --color-saju-destructive: #c23030;
  --color-saju-accent: #18868c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f2ef;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
